.btn  {
    color: rgb(250, 249, 240);
    background-color: black;
    text-align: center;
    border-radius: 10px;
}
.card {
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    box-shadow: 5px 5px 8px 5px lightgray;
}
#cat {
    font-size: 60px;
    text-align: center;
    text-underline-position: above;
}
.bag, .shoe {
    font-size: 200px;
    box-shadow: 2px 2px 3px 2px;
    border-color: lightgray;
   
}
#ylo {
    color: rgb(20, 151, 202);
    text-align: right
}
#buy, .prise {
    text-align: center;
}
.look {
    text-align: center;
    color: tomato;
}